* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    cursor: default;
}

#topHeading {
    text-align: center;
    margin-top: 30px;
}

#playerNameForm {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px auto 20px auto;
}

input {
    margin-top: 20px;
    height: 30px;
    font-size: 18px;
    padding-left: 5px;
    cursor: text;
    outline: none;
}

#buttonContainer {
    width: 200px;
    display: flex;
    margin: 0 auto 20px auto;
    justify-content: space-between;
}

button {
    width: 90px;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 10px;
}

#boardContainer {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72pt;
    cursor: pointer;
}